$font-stack:  'Open Sans', 'Roboto', serif;
$bg-img: url('/imgs/migrant-caravan.gif');
$main-bg: rgba(160, 4, 4, .8);
$btn-primary: #000;
$href-color: rgb(160, 4, 4);
$href-active: rgba(255, 255, 255, .8);
$side-nav-bg: rgba(0, 0, 0, .8);
$global-font-color: #fff;
$primary-color: #f16522;
$secondary-color: #F3EA25;
$navbar-bg: #222;
$btn-color-1: #f16522;
$btn-color-2: #F3EA25;